@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

$primary: #f69f98;
$danger:  #FF0000;
$warning: #f5d6b8;
$success: #acb5a0;
$info: #fff;
$red: #FF0000;
html {
  scroll-behavior: smooth;
}

.fadeOut {
    -webkit-animation-name: slideOutLeft;
    animation-name: slideOutLeft;
    -webkit-animation-duration: 5s;
    animation-duration: 0.3s !important;
}

.hero.landing {
  background: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.hero.main {
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.box.black{
  background-color: #000;
  border: 2px solid #fff;
}

.title {
  color: #000 !important;
}

.subtitle {
  color: #a6a7a0 !important;
}
.navbar-menu{
  //background-color: rgba(0, 0, 0, 0.1) !important;
}
.navbar {
  color: #000;

  // position: -webkit-sticky !important;
  // position: sticky !important;
  // top: 0;
  // background: linear-gradient(black, black, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)) !important;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0) !important;

}
@import "../../node_modules/bulma/bulma";
